.blank {
    font-size: 100px;
}

.letter_green{
    font-size: 100px;
    color: green;
}

.letter_red{
    font-size: 100px;
    color: red;
}

.turns_left {
    font-size: 30px;
}

#wrong{
    font-size: 45px;
    color: red;
}

.guess_green{
    font-size: 30px;
    color: green;
}

.guess_red{
    font-size: 30px;
    color: red;
}